.row
  .col.button
    %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
      Level:
      %span.badge.badge-light
        = @web_game.game.difficulty.type
    %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
      Attempts Left:
      %span.badge.badge-light
        = @web_game.game.attempts
        \/#{@web_game.game.difficulty.attempts}
    %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
      Hints Left:
      %span.badge.badge-light
        = @web_game.game.hints
        \/#{@web_game.game.difficulty.hints}
%hr.mb-4/
.row
  .text-center
    .text-center
      %h3.text-white
        Oops, #{@web_game.game.user.name}! You lose the game!
      %h4.text-white
        The code was
        %strong= @web_game.game.code
    %img.img-fluid{:alt => "You lose the game!", :src => "assets/images/lost.gif"}/
%hr.mb-4/
%a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}
  Play again!
%a.btn.btn-success.btn-lg.float-right{:href => "/stats", :role => "button"}
  Statistics
