<p class="lead text-white-70"> Top of Players:</p>
<hr class="mb-4">
<div class="table-responsive-md scores">
  <table class="table table-striped table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Attempts Left</th>
        <th scope="col">Hints Left</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @sorted_stats.map.with_index do |stats, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= stats.name %></td>
        <td><%= stats.difficulty %></td>
        <td><%= stats.attempts_total - stats.attempts_used %>/<%= stats.attempts_total %></td>
        <td><%= stats.hints_total - stats.hints_used %>/<%= stats.hints_total %></td>
        <td>---datetime---</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr class="mb-4">
<a class="btn btn-primary btn-lg" href="/" role="button">
  Home
</a>
</div>
